
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<a href="http://musicappfinal20180401084833.azurewebsites.net/IdentityRole">Identity Role</a>
<br />
<br />
<a href="http://musicappfinal20180401084833.azurewebsites.net/Account">Account</a>

