@{
    ViewBag.Title = "ApplicationAdministration";
}

<h2>Application Administration</h2>

<li>@Html.ActionLink("Manage Music App", "Index", "MusicApps")</li>
<li>@Html.ActionLink("Manage Reviews", "Index", "MusicAppReviews")</li>
<li>@Html.ActionLink("Manage Users", "Index", "Account")</li>
<li>@Html.ActionLink("Identity Role", "Index", "IdentityRole")</li>