@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>
    Courtney Lints
</h2>
<h2>
    CIT 218
</h2>
<h2>
    John Velis
</h2>
<h2>
    4/29/2018
</h2>


    <address>
        <strong>Support:</strong>   <a href="mailto:lints8@mail.nmc.edu">Lints8@mail.nmc.edu</a><br />
    </address>
